asgiref==3.7.2
beautifulsoup4==4.12.2
confusable-homoglyphs==3.2.0
dj-database-url==2.0.0
Django==4.2.3
django-bootstrap4==23.2
django-heroku==0.3.1
django-markupfield==2.0.1
django-markupfield-helpers==0.1.1
django-project-home-templatetags==0.2.1
django-registration==3.4
docutils==0.20.1
gunicorn==20.1.0
markdown2==2.4.9
Pillow==10.0.0
psycopg2==2.9.6
Pygments==2.15.1
python-decouple==3.8
soupsieve==2.4.1
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
whitenoise==6.5.0
